<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=WINSERVER-DEV\MSSQLSERVER_2012;Database=EyesFree;User ID=eipmgr; password=eipmgr" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="language" value="zh-TW"/>
    <add key="rate" value="0"/>
    <add key="volume" value="100"/>
    <add key="includeFix" value="Y"/>
  </appSettings>
</configuration>